{% extends 'base.html.twig' %}

{% block title %}Affaire index{% endblock %}

{% block body %}
<style>
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{background-image: url("../img/aa.jpg");}
  img{height: 100%;
    width: 100%;}
    a {
width:300px;
text-align:center;
vertical-align:middle;
background-color:black;
color:white;

border-radius:1em ;
border:solid black;
text-decoration:none;


   text-shadow:0 0 2px black,0 0 30px black,5px 9px 5px #333, 0 0 150px black;color:White;

}
 a:hover {
background:url(....png) no-repeat;
border:solid transparent;
}
  th {
 border:solid 1px;
    font-style: oblique;
    margin-left: 2em;
    line-height: 2;
    border-color: black;
      margin-left:15.5em;
   
   text-shadow:0 0 2px black,0 0 30px black,5px 9px 5px #333, 0 0 150px black;color:black;

  }

h2 {
    font-style: oblique;
    margin-left: 2em;
    line-height: 2;
    border-color: black;
    
   
   text-shadow:0 0 2px black,0 0 30px black,5px 9px 5px #333, 0 0 150px black;color:black;

  }
td {
 border:solid 1px;
    font-style: oblique;
    margin-left: 2em;
    line-height: 2;
    border-color: black;
      margin-left:15.5em;
   text-shadow:0 0 2px black,0 0 30px black,5px 9px 5px #333, 0 0 150px black;color:White;

  }
  table{
  border:solid 3px;}
 
  }
 
</style>
<center>
    <h1>Affaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affaire in affaires %}
            <tr>
                <td>{{ affaire.id }}</td>
                <td>{{ affaire.Contenu }}</td>
                <td>
                    <a href="{{ path('affaire_show', {'id': affaire.id}) }}">show</a>
                    <a href="{{ path('affaire_edit', {'id': affaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('affaire_new') }}">Create new</a><br><br>
    <a href="{{ path('admin') }}">Retour a la page admin</a>
    </center>
{% endblock %}
